/* Search Medicine */

.search-medicine {
    padding: 60px 20px;

    background:transparent;
    text-align: center;
}

.search-medicine h1 {
    font-size: 42px;
    margin-bottom: 30px;
}

/* Search Box */

.search-box {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.search-box input {
    width: 420px;
    padding: 15px;

    border: 2px solid #DDD;
    border-radius: 10px;
}
