/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80vh;

    background: transparent;
}

/* Hero Content */

.hero h1 {
    font-size: 60px;
    color: #2563EB;
}

.hero p {
    margin-top: 20px;

    font-size: 22px;
    color: #555;
}