@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* Global Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
}

/* Global Styles */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;

    color: var(--dark);
    background: var(--bg-one);
    background-attachment: fixed;
}

/* Images */

img {
    display: block;
    max-width: 100%;
}

/* Links */

a {
    color: inherit;
    text-decoration: none;
}

/* Buttons */

button {
    font-family: inherit;
    cursor: pointer;
}

/* Root */

#root {
    background: transparent;
}