/* Medicine Filter */

.medicine-filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    padding: 35px;

    background: #F8FAFC;
}

/* Filter Button */

.medicine-filter button {
    padding: 12px 25px;

    background: #2563EB;
    color: white;

    border: none;
    border-radius: 30px;

    cursor: pointer;
}