.hero{
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#f8fafc;
}

.hero h1{
    font-size:60px;
    color:#2563eb;
}

.hero p{
    margin-top:20px;
    font-size:22px;
    color:#555;
}